@model Saladesport.Models.Snacks

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Snacks</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SnacksId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SnacksPrice" class="control-label"></label>
                <input asp-for="SnacksPrice" class="form-control" />
                <span asp-validation-for="SnacksPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Durata" class="control-label"></label>
                <input asp-for="Durata" class="form-control" />
                <span asp-validation-for="Durata" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilialeID" class="control-label"></label>
                <select asp-for="FilialeID" class="form-control" asp-items="ViewBag.FilialeID"></select>
                <span asp-validation-for="FilialeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
